#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.userCard-title {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  background-color: #323232;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.userCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
  background-color: #323232;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.userCard-header {
  display: flex;
  align-items: center;
  gap: 4px
}

.userCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.userCard-info {
  display: flex;
  flex-direction: column;
}

.userCard-infoUserName {
  opacity: .6;
}


.userCard-tag {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.userCard-tag:hover {
  opacity: .8;
}

.userCard-button.is-open {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.userCard-button.is-open:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.userCard-button.is-open:hover .userCard-text {
  display: none;
}

.userCard-button.is-open:hover .userCard-stopFollow {
  display: block;
}

.userCard-stopFollow {
  display: none;
}

.footer {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, .7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
}

.footer span {
  font-size: 14px;
  color: #09f;
  opacity: .8;
}

.footer h4, .footer h5 {
  margin: 0;
  display: flex;
}